html{
    background-color: #111111;
}

p{
    color: white;
    font-family: OCR A;
}

button{
    /* float: left;
    display: block; */
    background-color: #333333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: OCR A;
    color: #FFFFFF;
    width: 150px;
    height: 60px;
    border-radius: 15px;
}
  
button:hover{
    background-color: #292929;
    /* animation: buttonHover .25s forwards; */
}

div#scenes{
    padding: 15px;
}